body{
    height:100vh;
}

.container{
    background-color: #fffcf5;
    border: 2px solid #ebebeb;
    margin-top: 12px;
    height:80%;
    padding:10px;
    overflow-y: scroll;
    
}

.img-thumbnail{
    display: inline-block;
    width: 350px;
    height: 50%;
}




.img-thumbnail:hover{
    
}
#uploader{
    display:none;
}
.form{
    position:absolute;
    right: 10px;
    top:10px;
    visibility:hidden;
}

.form-active{
    visibility:visible;
}

.img-name{
    color:rgb(255, 255, 255);
}
.add-image-button{
    opacity: 0.3;
    transition: opacity 100ms;

}
.add-image-button:hover{
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02); 
    transition: transform 100ms;
    opacity: 0.8;
    transition: opacity 300ms;
}

.container .uploaded{
    display:none !important;
}